@model MoneyTracker.Domain.ReadModel.BalanceDetailsDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h3>Purchases</h3>

@foreach (var purchase in Model.Purchases)
{
    <div class="row">
        <div class="col-md-3">
            <p>@purchase.SpentAt.AsFormatted()</p>
        </div>
        <div class="col-md-4">
            <p>@purchase.Title</p>
        </div>
        <div class="col-md-4">
            <p>@purchase.Amount @purchase.Currency</p>
        </div>
    </div>
}

<div>
    <a asp-controller="Purchase" asp-action="AddPurchase" class="btn btn-link">Add purchase</a>
</div>

<h3>Salaries</h3>

@foreach (var salary in Model.Salaries)
{
    <div class="row">
        <div class="col-md-3">
            <p>@salary.ReceivedAt.AsFormatted()</p>
        </div>
        <div class="col-md-4">
            <p>@salary.Amount @salary.Currency</p>
        </div>
    </div>
}

<div>
    <a asp-controller="Salary" asp-action="AddSalary" class="btn btn-link">Add salary</a>
</div>
