@model MoneyTracker.Domain.ReadModel.BalanceDetailsDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-12">
        <h3>Purchases</h3>
    </div>
</div>

@*<div class="row">
        <div class="col-md-8"><strong>Title</strong></div>
        <div class="col-md-4"><strong>Amount</strong></div>
    </div>*@

@foreach (var purchase in Model.Purchases)
{
    <div class="row">
        <div class="col-md-2">
            <p>@purchase.SpentAt.AsFormatted()</p>
        </div>
        <div class="col-md-2">
            <p>@purchase.Amount @purchase.Currency</p>
        </div>
        <div class="col-md-8">
            @foreach (var item in purchase.Purchases)
            {
                <p>@item.Title @item.Amount @purchase.Currency</p>
            }
        </div>
    </div>
}

<div>
    <a asp-controller="Purchase" asp-action="AddPurchase" class="btn btn-link">Add purchase</a>
</div>

<h3>Salaries</h3>

@foreach (var salary in Model.Salaries)
{
    <div class="row">
        <div class="col-md-3">
            <p>@salary.ReceivedAt.AsFormatted()</p>
        </div>
        <div class="col-md-4">
            <p>@salary.Amount @salary.Currency</p>
        </div>
    </div>
}

<div>
    <a asp-controller="Salary" asp-action="AddSalary" class="btn btn-link">Add salary</a>
</div>
