@model MoneyTracker.Domain.ReadModel.BalanceDetailsDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <h6>Purchases</h6>

    @foreach (var purchase in Model.Purchases)
    {
        <div>
            <strong>@purchase.SpentAt</strong>
            <span>@purchase.Title @purchase.Amount @purchase.Currency</span>
        </div>
    }

    <div>
        <a asp-controller="Balance" asp-action="AddPurchase">Add purchase</a>
    </div>
</div>

<div>
    <h6>Salaries</h6>

    @foreach (var salary in Model.Salaries)
    {
        <div>
            <p>
                <strong>@salary.ReceivedAt</strong>
                <span>@salary.Amount @salary.Currency</span>
            </p>
        </div>
    }

    <div>
        <a asp-controller="Balance" asp-action="AddSalary">Add salary</a>
    </div>
</div>
